/*_chronique.sass*/
.main-container
  display: block
  width: 100%
  .title-block
    .title-bar
      display: flex
      flex-direction: row
      font-size: 18px
      font-weight: bold
      color: #a6a6a6
      text-align: right
      .title
        width: 100%
      img
        vertical-align: middle
    .custom-divider
      height: 1px
      background-color: #a6a6a6
      margin: 20px 0
  .text-and-gallery-container
    width: 100%
    display: flex
    flex-direction: row
    .text-block
      margin-right: 30px
      font-size: 12px
      text-align: justify
    .gallery-block
      text-align: right

@media only screen and (max-width: 500px)
  .main-container
    .text-and-gallery-container
      flex-direction: column
      .text-block
        width: 100%
        padding-bottom: 30px
    .gallery-block
      text-align: center
