<div class="main-container">
  <div class="title-block">
    <div class="title-bar">
      <div>
        {% if page-prev %}
        <a href="{{ site.github.url }}/{{ page-prev }}"></a>
          <img src="{{ site.github.url }}/assets/img/nav/back-rewind-svgrepo-com.svg" width="30px">
        </a>
        {% endif %}
      </div>
      <div class="title">{{ page.title }}</div>
      <div style="padding-left: 30px;">
        {% if page-next %}
        <a href="{{ site.github.url }}/{{ page-next }}">
          <img src="{{ site.github.url }}/assets/img/nav/forward-svgrepo-com.svg" width="30px">
        </a>
        {% endif %}
      </div>
    </div>
    <div class="custom-divider"></div>
  </div>
  
  <div class="text-and-gallery-container">
    <div class="text-block">
      {{ text-block }}
    </div>
    <div class="gallery-block">
      <div  id="gallery">
        {{ gallery-block }}
      </div>
    </div>
  </div>
</div>

