<div class="chronique-container">
  <div class="title-block">
    <div class="title-bar">
      <div>
        <img src="{{ site.github.url }}/assets/img/nav/back-rewind-svgrepo-com.svg" width="30px">
      </div>
      <div class="title">{{ page.title }}</div>
      <div style="padding-left: 30px;">
        <img src="{{ site.github.url }}/assets/img/nav/forward-svgrepo-com.svg" width="30px">
      </div>
    </div>
    <div class="custom-divider"></div>
  </div>
  
  <div class="text-and-gallery-container">
    <div class="text-block">
      {{ text-block }}
    </div>
    <div class="gallery-block">
      <div  id="gallery">
        {{ gallery-block }}
      </div>
    </div>
  </div>
</div>

